@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');

.header {
    position: fixed;
    font-family: 'Poppins', sans-serif;
    color: white;
    height: 15vh;
    width: 100%;
    background-color: rgb(25, 2, 41);
    display: flex;
    justify-content: space-between;
    top: 0;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}


.header__purple {
    background-color: rgb(21, 9, 29);
    opacity: 0.8;
}

.header__left {
    display: flex;
    justify-content: space-between;
}

.header__left > h2 {
    margin-top: 6.5vh;
    margin-left: 10rem;
    font-family: 'Baloo 2';
}

.header__leftH2 {
    cursor:pointer;
    color: white;
    cursor: pointer;
}
.header__leftH2:hover{
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.header__leftlinks {
    display: flex;
    margin-left: 7rem;
    justify-content: space-between;
    font-family: 'baloo 2';
    margin-top: 7.5vh;
}

.header__leftlinksH3{
    color: white;
    margin: 3rem 3rem;
    cursor: pointer;
}

.header__leftlinksH3:hover{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.header__left > img {
    position: fixed;
    left: 20px;
    width: 100px;
    object-fit: contain;
    margin-top: 20px;
}

.header__right {
    display: flex;
    margin-top: 30px;      
}

.header__btn {
    position: relative;
    margin-top: 10px;
    border-radius: 30px;
    border: 2px solid white;
    margin-right: 5rem;
    background-color: rgba(0, 0, 0, 0.9);
    width: 10rem;
    animation-name:anime1;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: ease-out;
}

@keyframes anime1 {
    0% {
        top: 10px;
    } 
    100% {
        top:20px;
    }
}

.header__btn > p{
    font-family:  'baloo 2', sans-serif;
    color: white;
    font-weight: 500;
    margin-top: 12px;
}

@media screen and (max-width:400px) {
     .header{
        position: fixed;
        font-family: 'Poppins', sans-serif;
        color: white;
        height: 15vh;
        width: 100%;
        background-color: rgb(25, 2, 41);
        display: flex;
        justify-content: space-between;
        top: 0;
        transition-timing-function: ease-in;
        transition: all 0.5s;
     }

     .header__btn {
    position: relative;
    margin-top: 10px;
    border-radius: 30px;
    border: 2px solid white;
    margin-right: 5rem;
    background-color: rgba(0, 0, 0, 0.9);
    width: 10rem;
    animation-name:anime1;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: ease-out;
}
.header__btn > p{
    font-family:  'baloo 2', sans-serif;
    color: white;
    font-weight: 500;
    margin-top: 12px;
}

}