@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

.home {
    color: white;
    display: flex;
    flex: 1;
    justify-content: space-between;
    font-family: 'Mate SC', serif;
    /*margin-top: 20vh;*/
    width: 100%;
    height: 100vh;
}

.home__left {
    /*background: rgba(255, 255, 255, 0.2);*/
    margin-top:10rem;
    /*margin-left:2rem;*/
    position: absolute;
    display: inline-block;
    padding: 4rem 2rem;
    /*opacity: 0.8;*/
    z-index: 100%;
    text-align: center;
}


.home__leftbtn {
   background-color: rgb(255, 255, 255);
   border: 2px solid rgba(0, 0, 0, 0.1);
   border-radius: 25px;
   width: 15rem;
   align-items: center;
   margin-top: 2rem;
   margin-left: 2rem;
}
.home__leftBtnP{
    color: black;
    margin-top: 14px;
    font-weight: 500;
    font-family: 'baloo 2', sans-serif;
}

.home__leftbtn > a:hover{
    text-decoration: none;
}

.home__leftBtnP:hover{
    cursor: pointer;
    text-decoration: none;
} 

.home__right > img {
   height: 80vh;
   margin-right: 5rem;
   margin-top: 7rem;
}

.home__right > img:hover{
    cursor: pointer;
}


@media screen and (max-width:500px){
    .home{
        width: 100vw;
        color: white;
        height: 190vh;
    }
    .home__left {
        /*background: rgba(255, 255, 255, 0.2);*/
        font-size: 20px;
        margin-top:8rem;
        /*margin-left:2rem;*/
        position: absolute;
        display: inline;
        padding: 4rem 2rem;
        /*opacity: 0.8;*/
        z-index: 100%;
        text-align: center;
    }
    
    .home__leftbtn {
        background-color: rgb(255, 255, 255);
        border: 2px solid rgba(0, 0, 0, 0.1);
        border-radius: 25px;
        width: 15rem;
        align-items: center;
        margin-top: 2rem;
        margin-left: 1rem;
    }
    .home__right {
        background: transparent !important;
    }
    .home__right > img {
        height: 80vh;   
        margin-right: 3.5rem;
        margin-top: 47rem;
        box-shadow: 21px 20px 22px 21px rgba(0, 0, 0, 0.1);
    }


}
@media screen and (max-width:400px) {
    .home{
        width: 100vw;
        color: white;
        display: flex;
        /*justify-content: space-between;
        font-family: 'Mate SC', serif;
        margin-top: 20vh;*/
        height: 180vh;
    }
    .home__left {
        /*background: rgba(255, 255, 255, 0.2);*/
        font-size: 15px;
        margin-top:10rem;
        /*margin-left:2rem;*/
        position: absolute;
        display: inline;
        padding: 4rem 2rem;
        /*opacity: 0.8;*/
        z-index: 100%;
        text-align: center;
    }
    
    .home__leftbtn {
        background-color: rgb(255, 255, 255);
        border: 2px solid rgba(0, 0, 0, 0.1);
        border-radius: 25px;
        width: 15rem;
        align-items: center;
        margin-top: 2rem;
        margin-left: 1rem;
    }
    .home__right > img {
        height: 80vh;   
        margin-right: 3.5rem;
        margin-top: 40rem;
    }

}


